
Netflix_Clone.xcodeproj/project.xcworkspace/xcuserdata/floriansaqipi.xcuserdatad/UserInterfaceState.xcuserstate
Netflix_Clone.xcodeproj/xcuserdata/floriansaqipi.xcuserdatad/xcschemes/xcschememanagement.plist
Netflix_Clone.xcodeproj/project.xcworkspace/xcuserdata/gentrit.xcuserdatad/UserInterfaceState.xcuserstate
